.wrapper-row{
  background-color: #f6f5fc;
  border-radius: 30px;
  color: #645f88
}

.search-icon{
  margin-left: 96% !important;
  margin-top: -26px;
  z-index: 99 !important;
  cursor: pointer;
}

.card-description{
  height: 50px !important;
}

span .error-span{
  display: block !important;
  margin-left: 15px !important;
  height: 20px;
}